footer {
	font-size: 20px;color: #000000;
}
body {
	background-color: #800080;
}
nav {
	text-align: center;
	background-color: #FFFFFF;
}
nav a {
	padding: 20px 20px;
	color: #000000;
}
nav a {
	font-size: #FFFFFF;
}
